html, body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*-----------------------------------------------------------------*/
/*IDs*/

#myname {
    font-family: 'Orbitron', sans-serif;
    font-size: 8em;
    color: white;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.45);
}

#accounts {
    margin-top: 10em;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 0.3em;
}

/*-----------------------------------------------------------------*/
/*Classes*/

.bg-image {
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.full-height {
    height: 100%;
}

.logo{
    height: 5em;
    width: 5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}