html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

/*-----------------------------------------------------------------*/
/*IDs*/


#my-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
}

#bg-image {
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*-----------------------------------------------------------------*/
/*Classes*/


.logo {
    height: 4rem;
    width: auto;
    margin: 0.5rem;
}